<%- include('partials/header') %>


    <%- include('partials/navBar') %>
        <h1>Home Page <%= 2 + 2 %>
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro odio natus
            officia deleniti eum, suscipit libero cum fuga placeat maxime atque
            sapiente laboriosam eaque quisquam harum dolor voluptatibus. Pariatur, ad?
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur,
            repellat fugit? Adipisci nesciunt consequatur eos quia dolorum provident,
            maiores saepe nemo consectetur blanditiis optio suscipit aliquid explicabo
            doloremque nisi sapiente.
        </p>
        <%- include('partials/footer') %>